.contact-form {
    &__label {
        display: flex;
        flex-direction: column;

        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    &__submit-btn {
        margin-top: 20px;
        background-color: #fff;
        border: 1px solid #dedede;
        border-radius: 5px;
        padding: 10px 20px;
    }
}